<!DOCTYPE html>
<html lang="en">

<head>
    {{>headers}}
</head>

<body>
    {{>navbar}}
    <h1>Node Assignments</h1>
    <a href="/register">Create an Account</a>
    <a href="/login">Log In to Your Existing Account</a>
    {{err}}
</body>

</html>