<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
</head>
<body>
    <a href="/login">Log In to Your Existing Account</a>
    <form action="/register" method="POST">
        <input type="text" placeholder="Enter Your First Name" name="fullName"/><br>
        <input type="email" placeholder="Enter Your Email" name="email" oncopy="return false" onpaste="return false"/><br>
        <input type="text" placeholder="Enter User Name" name="username"/><br>
        <input type="radio" name="gender" value="male" checked/>
        <span>Male</span><br>
        <input type="radio" name="gender" value="female" />
        <span>Female</span><br>
        <input type="password" placeholder="Enter Your Password" name="password" id="typepass" oncopy="return false" onpaste="return false" />
        <input type="checkbox" onclick="Toggle()"> <b>Show Password</b><br>
        <input type="password" placeholder="Enter Your Password Again" name="confirmPassword" id="typepass2" oncopy="return false" onpaste="return false" />
        <input type="checkbox" onclick="Toggle2()"> <b>Show Confirm Password</b><br>
        <input type="submit" value="Register"/>
    </form>
    <br>
    <ul>
        <li>Password Length Should be 8 characters.</li>
        <li>Password Should have both uperand and lowercase characters.</li>
        <li>Password Should have one special character.</li>
        <li>Password Should have one number.</li>
    </ul>
    <a href="/login">{{message}}</a>
    {{#if error}}
            <h2>{{error}}</h2>
    {{/if}}
</body>
</html>