<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
</head>
<body>
   {{>navbar}}
    <a href ="/logout">Log Out</a> &nbsp; &nbsp;
    <a href="/logoutall">Log Out From all Session</a>&nbsp; &nbsp;
    <a href="/user">Go to Profile Page</a>&nbsp; &nbsp;
    

    <h2>Update Password</h2>
    <form method="post">
        <input type="password" required placeholder="Enter Your Password" name="password" id="typepass" required oncopy="return false" onpaste="return false"/>
        <input type="checkbox" onclick="Toggle()"> <b>Show Password</b><br>
        <input type="password" required placeholder="Enter Your Password Again" name="confirmPassword" id="typepass2" required oncopy="return false" onpaste="return false" />
        <input type="checkbox" onclick="Toggle2()"> <b>Show Confirm Password</b><br>
        <input type="submit" value="Update" />
    </form>

    {{#if error}}
            <h2>{{error}}</h2>
    {{/if}}


</body>
</html>