<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
</head>
<body>
   {{>navbar}}
    <a href ="/logout">Log Out</a> &nbsp; &nbsp;
    <a href="/logoutall">Log Out From all Session</a>&nbsp; &nbsp;
    <a href="/user">Go to Profile Page</a>&nbsp; &nbsp;
    <a href="/upload/file">Upload a File</a>&nbsp; &nbsp;

   <div id="pp-pg">
        <form method="post" >
            <input type="text" name="fileName" value="{{file.fileName}}" /><br>
            <input type="submit" name="submit" value="Update"/>
        </form>


        {{#if error}}
            <h2>{{error}}</h2>
        {{/if}}
    </div>


</body>
</html>